<div class="row justify-content-lg-center justify-content-md-center justify-content-sm-center">
    <div class="col">
        <h2>Recettes</h2>
        
        <div class="card-deck justify-content-center">
            <app-recipe-card
            *ngFor="let recipe of recipes; let i = index"
            [name]="recipe.name"
            [ingredients]="recipe.ingredients"
            [instructions]="recipe.instructions"
            [date]="recipe.date"
            [photo]="recipe.photo"
            [isValidated]="recipe.isValidated"
            [id]="i"></app-recipe-card>
        </div>
        
        
    </div>
</div>