<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <span class="navbar-brand ">RecetteTracker</span>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="" routerLinkActive="active">Recettes</a>
            <a class="nav-item nav-link" routerLink="add" routerLinkActive="active">Ajouter une recette</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink="auth/signin" routerLinkActive="active">Se connecter</a>
        </div>
    </div>
</nav>