<div class="row">
    <div class="col-lg-3 col-sm-12">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <h3>Connexion</h3>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" type="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" type="password" formControlName="password" autocomplete="current-password">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">Se connecter</button>
        </form>
        <p class="text-danger">{{ errorMessage }}</p>
    </div>
</div>