<div class="row">
    <div class="col">
        <h3>{{ recipe.name }}</h3>
        <img src="https://via.placeholder.com/300x150" alt="Placeholder Recipe Picture">
        <ul>
            <h4>Ingrédients</h4>
            <li *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.quantity }} {{ ingredient.measure }} {{ ingredient.name }}
            </li>
        </ul>
        <ol>
            <h4>Instructions</h4>
            <li *ngFor="let instruction of recipe.instructions">
                {{instruction}}
            </li>
        </ol>
    </div>
</div>
