<div class="row">
    <div class="col text-center">
        <h4>Voici les étapes à suivre !</h4>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': (count/data.instructions.length)*100}" [attr.aria-valuemax]="data.instructions.length" [attr.aria-valuenow]="count">
                {{ (count/data.instructions.length)*100 | number:'1.0-0'}}%
            </div>
        </div>
        
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8 text-center">
        <div class="btn-group-toggle mb-2" *ngFor="let instruction of data.instructions; let i = index" data-toggle="buttons">
            <label class="btn btn-light btn-block" [for]="'check-instru-' + i">
                <input type="checkbox" [id]="'check-instru-' + i" (change)="onCheck($event)">{{ i+1 }}. {{ instruction }}
            </label>
        <div>
    </div>
</div>


